version: "3.8"

services:
  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    networks:
      - web_network

  frontend-mobile:
    build: ./frontend-mobile
    container_name: react_frontend_mobile
    restart: always
    networks:
      - web_network
      
  frontend-admin:
    build: ./frontend-admin
    container_name: react_frontend_admin
    expose:
      - "3002"
    environment:
      - NODE_ENV=production
    restart: always
    networks:
      - web_network
    
  frontend-new:
      build: ./frontend-new
      container_name: react_frontend_new
      restart: always
      networks:
      - web_network

  backend:
    build: ./api
    container_name: python_api
    restart: always
    ports:
      - "5000:5000"
    command: uvicorn main:app --host 0.0.0.0 --port 5000 --log-level debug
    environment:
      ADMIN_LOGIN: "noflyhere@fbrokenglass"
      ADMIN_PASSWORD: "fBFbK*qM."
      JWT_ACCESS_KEY: "fa39f70f820bc7bcf60ef314f134c6cfb29ad6b7d44f7beac31d9dda261b1828"
      JWT_REFRESH_KEY: "fd18f4116af594962aecd6d0524d1de5eff0df09ebc2959411e82b582fc3b04ba4286edbbf49999859b3eb80cbcead34f8738efc22dff886d6259cd16f3f85b9"
      JWT_ALGORITHM: "HS256"
      ACCESS_TOKEN_EXPIRE_MINUTES: 15
      REFRESH_TOKEN_EXPIRE_DAYS: 30
      API_KEY: "e94bd4d653c6149c7af98fe1"
      EXCHANGE_TO_RATE_REQUEST: "https://xecdapi.xe.com/v1/convert_to?from=USD%2CEUR%2CRUB%2CJPY%2CMYR%2CINR%2C%20AED%2CGBP%2CSG D%2CCHF%2CAUD%2CHKD%2CCAD%2CTWD%2CKRW%2CPHP%2CNZD%2CCNY%2CSAR%2CQAR%2CBHD&to=THB&obsolete=false"
      EXCHANGE_FROM_RATE_REQUEST: "https://xecdapi.xe.com/v1/convert_from?from=THB&to=USD%2CEUR%2CRUB%2CJPY%2CMYR%2CINR%2CAED%2CGBP%2CSGD%2CCHF%2CAUD%2CHKD%2CCAD%2CTWD%2CKRW%2CPHP%2CNZD%2CCNY%2CSAR%2CQAR%2CBHD"
      GET_TETHER_TO_RUB_AND_THB: "https://api.coingecko.com/api/v3/simple/price?ids=tether&vs_currencies=thb,rub"
      GET_ALL_THB_RATES: "https://v6.exchangerate-api.com/v6/e94bd4d653c6149c7af98fe1/latest/THB"
      DB_NAME: "CashAndGoDB"
      DB_USERNAME: "CashAndGo"
      DB_USER_PASSWORD: "2093100Tbm"
    volumes:
      - ./api/data:/api/data
      - ./api/certs:/api/certs
    networks:
      - web_network
      - internal_network
    depends_on:
      mongo:
        condition: service_healthy
    dns:
      - 8.8.8.8
      - 8.8.4.4

  mongo:
    image: mongo:latest
    container_name: mongo_db
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=CashAndGo
      - MONGO_INITDB_ROOT_PASSWORD=2093100Tbm
      - MONGO_INITDB_DATABASE=CashAndGoDB
    command: mongod --bind_ip_all
    volumes:
      - mongo_data:/data/db
    networks:
      - internal_network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s
  
  swag:
    image: lscr.io/linuxserver/swag:latest
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000      
      - PGID=1000
      - TZ=Europe/Moscow  
      - URL=cashandgo.exchange
      - SUBDOMAINS=www
      - VALIDATION=http
      - EMAIL=noflyhereofbrokenglass@gmail.com  
      - ONLY_SUBDOMAINS=false
      - STAGING=false  # для продакшена false
    volumes:
      - ./swag_config:/config  
      - ./frontend/build:/config/www/main
      - ./frontend-mobile/build:/config/www/mobile
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    networks:
      - web_network
      - internal_network

networks:
  web_network:
    name: web_network
    driver: bridge
  internal_network:
    name: internal_network

volumes:
  mongo_data:
